body{
    margin: 0;
    padding-top: 500px;
    text-align: center;
}
.pfp{
    border-radius: 50%;
}
#wel{
    position: absolute;
    bottom: 0;
    display:table;
    width: 100%;
    height: 100%;
    background: linear-gradient(red 0%,green 100%);
    z-index: 9;
}
h1{
    font-size: 40px;
    font-family: comic;
    font-weight: 900;
}
#N{
    font-size: 50px;
    font-family: 'Comic Neue', cursive;
}
h2{
    font-size: 30px;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.wel1{
    display: table-cell;
    vertical-align: middle;
}
#bio{
    padding: 50px;
}
.line{
height: 6px;
background-color: black;
width: 70px;
margin: 8px auto;
}
.menu{
    z-index: 10;
    position: fixed;
    top: 0px;
    margin-top: 0px;
    width: 100%;
    background: chocolate;
}
.things{
    display: inline;
   padding-left: 33px;
   padding-right: 25px;
   font-size: 20px;
}
.things:hover{
    font-size: 25px;
    text-decoration: dashed;
}
a{
    text-decoration: noneE;
}
#Writings a{
    text-decoration: underline !important;
    color: brown !important;
    font-size: 50px;
}